# libraries for extra external datasource support
clickhouse-connect>=0.6.8 # clickhouse
sqlalchemy-bigquery # bigquery
gsheetsdb # google sheets
# libraries for the keycloak integration to work
flask-oidc==1.3.0
itsdangerous==2.0.1
flask_openid
authlib